<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      Railsの勉強してるよー！
    </div>
    <div class="posts-index-item">
      詳細ページ作成中！
    </div>
  </div>
</div>