<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
      <% @users.each do |user| %>
          <div class="user-left">
            <!-- プロフィール画像を表示-->
            <img src= "<%= "/user_image/#{user.image_name}" %>">
          </div>
          <div class="user-right">
            <!-- 名前を表示。クリックで詳細画面へ遷移-->
            <%= link_to(user.name,"/users/#{user.id}") %>
          </div>
      <% end %>
  </div>
</div>