<div class="main users-edit">
  <div class="container">
    <div class="form-heading">学習の記録</div>
    <div class="form users-form">
      <div class="form-body">
        <!--エラーメッセージの表示-->
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/#{@user.id}/record_create",{multipart: true}) do %>
          <!--項目は後日実装予定-->
          <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>