<div class="main users-edit">
  <div class="container">
    <div class="form-heading">学習の記録</div>
    <div class="form users-form">
      <div class="form-body">
        <!--エラーメッセージの表示-->
        <% @logs.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/#{@user.id}/record_create",{multipart: true}) do %>
          <p>開始日時</p>
          <input name="start_time" value="<%= @nowTime.strftime("%Y-%m-%d %H:%M:%S") %>" readonly>
          <p>学習内容</p>
          <textarea name="menu"><%= @logs.menu %></textarea>
          <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>